package components

css iconClass() {
	display: flex;
	width: 20px;
	height: 20px;
	margin: 1;
	padding: 0;
}

css iconGroupClass() {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

templ Icon(icon, tooltip string, attrs templ.Attributes) {
	<button
		class={ iconClass() }
		{ attrs... }
		data-tooltip={ tooltip }
	>
		<i class={ icon }></i>
	</button>
}

templ IconGroup() {
	<p class={ iconGroupClass() }>
		{ children... }
	</p>
}
