{{define "entry"}}
<select id="metric" name="entry-select" hx-get="/entry/select" hx-target="#entry-content">
    <option value="add-entry">Select a metric</option>
    {{range .Metrics}}
    <option value="{{.ID}}" {{if eq .ID $.Selected.ID}}selected{{end}}>{{.Title}}</option>
    {{end}}
</select>

<article id="entry-content">
Please select a metric.
</article>
{{end}}

{{define "entry-form"}}
<form hx-post="/entry/submit" hx-target="#entry-content">
<input type="hidden" name="metric" value="{{.Selected.ID}}">
<label for="value">Value in {{.Selected.Unit}}
    <input type="number" step="any" id="value" name="value" required>
</label>
<label for="date">Date
  <input type="date" id="date" name="date" required>
</label>
<button type="submit">Submit</button>
</form>
{{end}}

{{define "entry-created"}}
Entry submitted successfully!
{{end}}

{{define "entry-updated"}}
Entry updated successfully!
{{end}}
