{{define "home"}}
    <h5>Welcome</h5>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
    pulvinar risus non risus hendrerit venenatis. Pellentesque sit
    amet hendrerit risus, sed porttitor quam.
{{end}}
