<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Metrix</title>
        <meta name="description" content="Metrix">
        <meta name="author" content="Bruno Belarte">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
    </head>

    <body>
        <main class="container">
            <header>
                <h1>Metrix</h1>
            </header>

            <main>
                <section>
                    <nav>
                        <ul>
                            <li><a href="#" role="button">Home</a></li>
                        </ul>
                    </nav>
                </section>

                <section>
                    {{template "content" .}}
                </section>
            </main>

            <footer>
                <small>
                    <div>Metrix 2024</div>
                    <div>Learning project created to play with HTMX+Go</div>
                    <div>Created by <a href="http://github.com/belarte">Bruno Belarte</a></div>
                </small>
            </footer>
        </main>
    </body>
</html>
