{{define "content"}}
    <p>Create a new metric:</p>
    
    <form>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title" required>
    <label for="unit">Unit</label>
    <input type="text" id="unit" name="unit" placeholder="Unit" required>
    <label for="password">Description</label>
    <input type="description" id="description" name="description" placeholder="Description" required>
    <button type="submit">Create</button>
    </form>
{{end}}
