{{define "content"}}
<div id="manage-content">
<select id="metric" name="manage-select" hx-get="/manage/select" hx-target="#manage-content">
    <option value="">Create new metric</option>
    {{range .Metrics}}
    <option value="{{.ID}}" {{if eq .ID $.Selected.ID}}selected{{end}}>{{.Title}}</option>
    {{end}}
</select>

<article>
    <form hx-post="/manage/click" hx-target="#manage-content">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title" value="{{.Selected.Title}}" required>
    <label for="unit">Unit</label>
    <input type="text" id="unit" name="unit" placeholder="Unit" value="{{.Selected.Unit}}"  required>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" placeholder="Description" value="{{.Selected.Description}}" required>
    <button type="submit">Create</button>
    </form>
</article>
</div>
{{end}}
